<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" font-size="10px" font-family="sans-serif" fill="none" stroke="none" stroke-width="1.5" width="400" height="820">
     <g transform="translate(40,10)">
          <g>
               <g>
                    <path shape-rendering="crispEdges" d="M100.0,120.75471698113208H0.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,45.28301886792453H100.0V120.75471698113208" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,120.75471698113208H100.0V120.75471698113208" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,196.22641509433961H100.0V120.75471698113208" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M100.0,400.0H0.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,286.79245283018867H100.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,362.26415094339626H100.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,437.73584905660374H100.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,513.2075471698113H100.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M100.0,679.2452830188679H0.0V400.0" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,603.7735849056603H100.0V679.2452830188679" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,679.2452830188679H100.0V679.2452830188679" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
               <g>
                    <path shape-rendering="crispEdges" d="M200.0,754.7169811320754H100.0V679.2452830188679" fill="none" stroke="rgb(204,204,204)" stroke-dasharray="" stroke-width="1"/>
               </g>
          </g>
          <g>
               <circle fill="rgb(174,199,232)" stroke="rgb(31,119,180)" cx="0.0" cy="400.0" r="4.5"/>
               <circle fill="rgb(174,199,232)" stroke="rgb(31,119,180)" cx="100.0" cy="120.75471698113208" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="45.28301886792453" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="120.75471698113208" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="196.22641509433961" r="4.5"/>
               <circle fill="rgb(174,199,232)" stroke="rgb(31,119,180)" cx="100.0" cy="400.0" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="286.79245283018867" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="362.26415094339626" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="437.73584905660374" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="513.2075471698113" r="4.5"/>
               <circle fill="rgb(174,199,232)" stroke="rgb(31,119,180)" cx="100.0" cy="679.2452830188679" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="603.7735849056603" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="679.2452830188679" r="4.5"/>
               <circle fill="rgb(255,127,14)" stroke="rgb(31,119,180)" cx="200.0" cy="754.7169811320754" r="4.5"/>
          </g>
          <g>
               <text pointer-events="none" x="-7" dy=".35em" transform="translate(0.0,400.0) rotate(360.0)" fill="rgb(0,0,0)" text-anchor="end">G : 6.7</text>
               <text pointer-events="none" x="-7" dy=".35em" transform="translate(100.0,120.75471698113208) rotate(360.0)" fill="rgb(0,0,0)" text-anchor="end">D : 4.3</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,45.28301886792453)" fill="rgb(0,0,0)">C : 2.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,120.75471698113208)" fill="rgb(0,0,0)">C : 3.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,196.22641509433961)" fill="rgb(0,0,0)">C : 4.1</text>
               <text pointer-events="none" x="-7" dy=".35em" transform="translate(100.0,400.0) rotate(360.0)" fill="rgb(0,0,0)" text-anchor="end">D : 5.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,286.79245283018867)" fill="rgb(0,0,0)">C : 3.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,362.26415094339626)" fill="rgb(0,0,0)">C : 4.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,437.73584905660374)" fill="rgb(0,0,0)">C : 4.8</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,513.2075471698113)" fill="rgb(0,0,0)">C : 4.9</text>
               <text pointer-events="none" x="-7" dy=".35em" transform="translate(100.0,679.2452830188679) rotate(360.0)" fill="rgb(0,0,0)" text-anchor="end">D : 6.4</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,603.7735849056603)" fill="rgb(0,0,0)">C : 5.1</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,679.2452830188679)" fill="rgb(0,0,0)">C : 5.6</text>
               <text pointer-events="none" x="7" dy=".35em" transform="translate(200.0,754.7169811320754)" fill="rgb(0,0,0)">C : 6.1</text>
          </g>
     </g>
</svg>
