<%= javascript_include_tag "simulation" %>
<div class="container">
  <div id="mode">
  </div>

  <div class="starter-template">
    <div id="container3" style="height: 400px; min-width: 310px"></div>
    total cnt = <%= @total_cnt %> (<%=@idle_cnt%> ,<%=@idle_cnt / @total_cnt.to_f * 100.round(3)%>%)
    <div>
      total power consumed = <%= @total_consumed.round(3) %> kWh (Idle  <%= ((@idle_consumed / @total_consumed )*100).round(3) %>%)</div>
    idle consumed = <%= @idle_consumed.round(3) %> kWh
    </br>
    total price = <%= (@total_consumed)*100.round(2)%> Won</div>
  <%
    data = {
      labels: (1..24).to_a,
      datasets: [
        {
      label: "# of working compressor",
      fillColor: "rgba(151,187,205,0.2)",
      strokeColor: "rgba(151,187,205,1)",
      pointColor: "rgba(151,187,205,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(151,187,205,1)",
      data: @Workingnum 
    }
    ]
    }
    options = {:width=>"1000",:height=>"200"}
  %>

  <div id="container4" style="height: 400px; min-width: 310px"></div>
</div>
</div><!-- /.container -->


<!-- bootstrap core javascript
================================================== -->
<!-- placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
