<%= javascript_include_tag "mode" %>
<%= include_gon %>
<div class="row">
  <div class="col-md-6">
    <h2>modes for original version</h2>
    <hr></hr>
    <div id="container_mode"></div>
  </div>
  <div class="col-xs-12 col-md-6">
    <br></br>
    <br></br>
    <div class="well">
      <h4>hihi</h4>
      <p>hihihi</p>
    </div>

  </div>
</div>
