<div class="col-xs-2" style>
	<h2> </h2>
</div>
<div class="col-xs-5" align="center">
	<h2> Original </h2>
</div>
<div class="col-xs-5" align="center">
	<h2> SmartGrid </h2>
</div>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-3">
			<h2> Machine configuration </h2>
		</div>
		<div class="col-xs-9" align="right">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" id="show_details" class="btn btn-default" data-url="details.html"><p style="margin-top:0px; margin-bottom:0px">Show details</button>
				<button type="button" id="hide_details" class="btn btn-default" data-url=""><p style="margin-top:0px; margin-bottom:0px">Hide details</button>
				<button type="button" id="compare_simulate" class="btn btn-default" data-url=""><p style="margin-top:0px; margin-bottom:0px">Simulate</button>
			</div>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

		<div class="col-xs-2" align="center">
			<h3> # of machines </h3>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<div class="col-xs-6">
				<h4> Fixed </h4>
				<p><span id="ori_fixed_num" class="highlight">  </span></p>
			</div>
			<div class="col-xs-6">
				<h4> Var-7.5</h4>
				<p><span id="ori_variable_num" class="highlight">  </span></p>
			</div>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<div class="col-xs-3">
				<h4> Var-1 </h4>
				<p><span id="var2_num" class="highlight">  </span></p>
			</div>
			<div class="col-xs-3">
				<h4> Var-3 </h4>
				<p><span id="var4_num" class="highlight">  </span></p>
			</div>
			<div class="col-xs-3">
				<h4> Var-5 </h4>
				<p><span id="var6_num" class="highlight">  </span></p>
			</div>
			<div class="col-xs-3">
				<h4> Var-7 </h4>
				<p><span id="var8_num" class="highlight">  </span></p>
			</div>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		<div class="col-xs-2" align="center">
			<h3> Portion of volume </h3>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
      <% @portion.each_with_index do |portion|%>
        <div class="col-xs-3">
          <div class="input-group input-group-sm">
            <input type="text" class="portion form-control" placeholder="<%=portion%>" value="<%=portion%>" style="text-align:center">
            <span class="input-group-addon" style="padding-left:5px; padding-right:5px; text-align:center"> % </span>
          </div>
        </div>
      <% end %>
		</div>

		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		<div id="config_details">
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-12">
			<h2> Simulation result  </h2>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

		<div class="col-xs-2" align="center">
			<h3> Power consumption </h3>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="ori_power_consumption" class="highlight">  </span> kWh</p>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="smart_power_consumption" class="highlight" data-toggle="tooltip" data-placement="top" title="Saving: 11456 kWh">  </span> kWh </p>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		<hr>
		<div class="col-xs-2" align="center">
			<h3> Energy bill (year)</h3>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="ori_energy_bill" class="highlight">  </span> KRW million <br> 
			(<span id="ori_volume_power" class="highlight"> </span> KRW / m3) </p>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="smart_energy_bill" class="highlight" data-toggle="tooltip" data-placement="top" title="Saving: 412 KRW million"></span> KRW million <br> 
			(<span id="smart_volume_power" class="highlight" data-toggle="tooltip" data-placement="bottom" title="Saving: 3.6 KRW / m3">8.5 </span> KRW / m3) </p>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		<hr>
		<div class="col-xs-2" align="center">
			<h3> Specific performance </h3>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="ori_specific_power" class="highlight">  </span> kWh/m3/min </p>
		</div>
		<div class="col-xs-5" align="center" style="border-left:1px solid lightgray">
			<p><span id="smart_specific_power" class="highlight">  </span> kWh/m3/min </p>
			<p>(<span class="highlight" id="Saved"></span>% Saving) </p> 
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-12">
			<h2> Power consumption graph </h2>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		
		<div class="col-xs-6" align="center">
			<h3> Total </h3>
		</div>

		<div class="col-xs-6" align="center">
			<h3> Per-demand </h3>
		</div>
		<div class="col-xs-6" align="center">
			<div id="power_level2" class="img-responsive center-block" style="min-width: 300px; max-width: 500px; height: 300px; margin: 0 auto"></div>
		</div>
		<div class="col-xs-6" align="center" style="border-left:1px solid lightgray">
			<div id="power_level" class="img-responsive center-block" style="min-width: 300px; max-width: 500px; height: 300px; margin: 0 auto"></div>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

	</div>
</div>

</div>

<script>
	$(function () {
	$("[data-toggle='tooltip']").tooltip()
	});
</script>
