<script>
    var seriesOptions = [],
      seriesCounter = 0,
      names = ['Measured Data'];

    function createChart() {
        $('#volume_input_data').highcharts('StockChart', {
            exporting: {
            enabled: false
            },
            credits: {
            enabled: false
            },
            buttonTheme: {
              visibility: 'hidden'
            },

            labelStyle: {
              visibility: 'hidden'
            },
            scrollbar: {
              visibility: 'hidden'
            },

            rangeSelector:{
              enabled:false
            },
            navigator: {
            enabled: false
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + 'm<sup>3</sup>/min';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> <br/>',
                valueDecimals: 2
            },

            series: seriesOptions
        });
        $(".highcharts-scrollbar").hide();
    };

    $.each(names, function (i, name) {
      seriesOptions[i] = {
          name: name,
          data: gon.result[i]
      };

      createChart();
    });
</script>


<script>
$(function () {
});

var flags = 0;


// ************** Generate the tree diagram  *****************
zeroFill = function(number, limit) {
    for (var i = number.toString().length; i < limit; i++) {
        number = '0' + number;
    }
    return number;
};

function draw(treeData, factor, stop, index){
  var margin = {top: 15, right: 0, bottom: 20, left: 350},
  width = 300 - margin.right - margin.left,
  height = 300 - margin.top - margin.bottom;
  
  var i = 0;

  var tree = d3.layout.tree()
  .size([height, width]);

  var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });

  var svg = d3.select("#chartline1").append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  root = treeData[0];
  update(root, factor, stop, index);

  return svg;
  
function update(source, factor, stop, index) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
   links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) {d.x/=1.4;if(d.children){d.y = factor * d.depth * 40;} else{d.y = factor * (d.depth-1+d.odd) * 40} });

  // Declare the node
  var node = svg.selectAll("g.node")
   .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
   .attr("class", "node")
   .attr("transform", function(d) { 
    return "translate(" + d.y + "," + d.x + ")"; });

  nodeEnter.append("circle")
   .attr("r", function(d) { return d.value; })
   .style("stroke", function(d) { if(stop){return "#bfbfbf";}
       if(d.type == "#05afed") { 
           var r = 5;
           var g = 175;
           var b = 237; // original run color
           var ratio = Math.abs(5-index%10) / 2;

           r *= ratio;  
           g = g * ratio + 150 * (1-ratio);
           b = b * ratio + 255 * (1-ratio);
           
           var rgb = b | (g << 8) | (r << 16);
           return  "#" + zeroFill( ( r << 16 | g << 8 | b ).toString(16), 6 );
       }
       return d.type;
    })
       .style("fill", function(d) { if(stop){return "#bfbfbf";} 
       if(d.type == "#05afed") { 
           var r = 5;
           var g = 175;
           var b = 237; // original run color
           var ratio = Math.abs(5-index%10) / 5;
           
           r *= ratio;  
           g = g * ratio + 150 * (1-ratio);
           b = b * ratio + 255 * (1-ratio);
           var rgb = b | (g << 8) | (r << 16);
           return  "#" + zeroFill( ( r << 16 | g << 8 | b ).toString(16), 6 );
       }
       return d.type;
   });
  
  nodeEnter.append("text")
   .attr("x", function(d) { 
    return d.children || d._children ? -13 : 13; })
   .attr("dy", ".35em")
   .attr("text-anchor", function(d) { 
    return d.children || d._children ? "end" : "start"; })
   .text(function(d) { return d.name; })
   .style("fill-opacity", 1);

  // Declare the link
  var link = svg.selectAll("path.link")
   .data(links, function(d) { return d.target.id; });

  // Enter the links.
   link.enter().insert("path", "g")
   .attr("class", "link")
   .style("stroke", function(d) { return d.target.level; })
   .attr("d", diagonal);

}

}
</script>



<style>
 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
 
</style>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-8">
				<h2> Simulation </h2>
			</div>
			
			<div class="col-xs-4" align="right">
				<button type="button" id="simulation" class="btn btn-default">Simulate</button>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			
			<div class="col-xs-2" align="left">
				<h3> Machines </h3>
			</div>
			<div class="col-xs-4" align="right">
				<p>Fixed:&nbsp&nbsp<span class="highlight"> <%=@input.fixed_num%> </span> </p>
			</div>
			<div class="col-xs-4" align="right">
				<p>Variable:&nbsp&nbsp<span class="highlight"> <%=@input.variable_num%> </span></p>
			</div>
			<div class="col-xs-12" align="right">
				<%= image_tag "remarks.png", :class => "img-responsive center-block" %>
			</div>
		
			<div class="col-xs-8" id="chartline1" style="height:170px"></div>
			<script>
				var treeDatas;
				var index=0;

				$.get("/original_total_result", function(data) { treeDatas = data.original_status; 
						draw([treeDatas[0]],-1, 1, index); 
					});  
							
				document.getElementById("simulation").addEventListener("click", 
				function(){
					index = 0;
					var inter = setInterval(function() {
						d3.select("#chartline1").select("svg").remove();
						draw([treeDatas[index++]], -1, 0, index);
						if(index > 60) clearInterval(inter);
						}, 100);
				} , true);

			</script>
			<div class="col-xs-4">
				<%= image_tag "factory.png", { :class => "img-responsive center-block", style: "margin-top: 30px;vertical-align:middle;" } %>
			</div>

			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			<hr>
			<div class="col-xs-12">
				<h3> Volume input data </h3>
				<div id="volume_input_data" style="min-width: 400px; height: 220px; margin: 0 auto"></div>
			</div>
			
		</div>
	</div>
</div>

<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-body">
      <div class="col-xs-8">
        <h2> Total summary </h2>
      </div>
      </hr>
			<div class="col-xs-6">
				<h3> Power consumption </h3>
				<ul>
					<li><p>
          <span class="highlight" id="power_consumption"> 0 </span> kWh 
					</p></li>
				</ul>
				
				<h3> Energy bill (year) </h3>
				<ul>
					<li><p>
          <span class="highlight" id="energy_bill">0 </span> KRW million
					</p></li>
				</ul>
			</div>
			<div class="col-xs-6">
				<h3> Specific performance </h3>
				<ul>
					<li><p>
          <span class="highlight" id="specific_energy">0  </span> kW/m3/min 
					</p></li>
				</ul>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			<hr>

			<div class="col-xs-8">
				<div id="result_type">
					<h3> Operation mode </h3>
				</div>
			</div>
			<div class="col-xs-4" align="right">
				<div class="dropdown">
					<button class = "btn btn-default dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<p style="margin-top:0px; margin-bottom:0px"> Other results <span class="caret"></span> </p>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
						<li><a class="dropdown-item" data-type="Operation mode " data-path="mode_chart"> Operation mode </a></li>
						<li role="separator" class="divider"></li>
						<li><a class="dropdown-item" data-type="Volume generation" data-path="volume_chart"> Volume generation </a></li>
						<li role="separator" class="divider"></li>
						<li><a class="dropdown-item" data-type="Volume generation (details)" data-path="power_chart"> Volume generation (details) </a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
      <div id="result_chart">
        <div class="col-xs-12">
          <div id="result_chart">
            <div id="mode_chart" class="img-responsive center-block image" style="min-width: 430px; height: 300px; margin: 0 auto"></div>
            <div id="volume_chart" class="img-responsive center-block image" style="display:none;min-width: 430px; height: 300px; margin: 0 auto"></div>
            <div id="power_chart" class="img-responsive center-block image" style="display:none;min-width: 430px; height: 300px; margin: 0 auto"></div>
          </div>
</div>
      </div>
    </div>
  </div>
</div>
