<script>
    var seriesOptions = [],
      seriesCounter = 0,
      names = ['Measured Data'];

    function createChart() {
        $('#volume_input_data').highcharts('StockChart', {
            exporting: {
            enabled: false
            },
            credits: {
            enabled: false
            },

            buttonTheme: {
              visibility: 'hidden'
            },

            labelStyle: {
              visibility: 'hidden'
            },
            scrollbar: {
              visibility: 'hidden'
            },

            rangeSelector:{
              enabled:false
            },
            navigator: {
            enabled: false
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + 'm<sup>3</sup>/min';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> <br/>',
                valueDecimals: 2
            },

            series: seriesOptions
        });
        $(".highcharts-scrollbar").hide();
    };

    $.each(names, function (i, name) {
      seriesOptions[i] = {
          name: name,
          data: gon.result[i]
      };

      createChart();
    });
</script>



<script>
var treeData = [
{
    "parent": "null",
    "children": [
      {
        "name": "x 0",
        "type":"#003504",
        "value":10,
        "children":[
        {
            "name": "x 0",
            "type":"#349c3d",
            "value":10,
            "children":[
            {
                "name": "x 0",
                "type":"#01ff3d",
                "value":10,
                "children":[
                {
                    "name": "x 0",
                    "type":"#c9fdcc",
                    "value":10,
                    "children":[
                    {
                    }
                    ]
                }
                ]
            }]
        }]
      },
    ]
  }
];


// ************** Generate the tree diagram  *****************

function draw(treeData, factor){
  var margin = {top: 20, right: 0, bottom: 0, left: 500},
  width = 400 - margin.right - margin.left,
  height = 43 - margin.top - margin.bottom;
  
  var i = 0;

  var tree = d3.layout.tree()
  .size([height, width]);

  var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });

  var svg = d3.select("#chartline1").append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  root = treeData[0];
  update(root, factor);

  return svg;
  
function update(source, factor) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
   links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = factor * d.depth * 118; });

  // Declare the node
  var node = svg.selectAll("g.node")
   .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
   .attr("class", "node")
   .attr("transform", function(d) { 
    return "translate(" + d.y + "," + d.x + ")"; });

  nodeEnter.append("circle")
   .attr("r", function(d) { return d.value; })
   .style("stroke", function(d) { return d.type; })
   .style("fill", function(d) { return d.type; });
  
  nodeEnter.append("text")
   .attr("x", function(d) { 
    return d.children || d._children ? 10 : 0; })
   .attr("dy", "-1.350em")
   .attr("text-anchor", function(d) { 
    return d.children || d._children ? "end" : "start"; })
   .text(function(d) { return d.name; })
   .style("fill-opacity", 1);

  // Declare the link
  var link = svg.selectAll("path.link")
   .data(links, function(d) { return d.target.id; });

  // Enter the links.
   link.enter().insert("path", "g")
   .attr("class", "link")
   .style("stroke", function(d) { return d.target.level; })
   .attr("d", diagonal);

}

}
</script>



<style>
 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
</style>

<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-8">
				<h2> Simulation </h2>
			</div>
			<div class="col-xs-4" align="right">
				<button type="button" id="smart_simulation" class="btn btn-default">Simulate</button>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			
			<div class="col-xs-12">
		        <h3> Machine status </h3>
				<div class="col-xs-12">
				</div>

				<div class="col-xs-3" id="var_num1" align="center">
				</div>
				<div class="col-xs-3" id="var_num3" align="center">
				</div>
				<div class="col-xs-3" id="var_num5" align="center">
				</div>
				<div class="col-xs-3" id="var_num7" align="center">
				</div>
				<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
				
				<div class="col-xs-12" style="padding:0px; margin-bottom:-30px; margin-top:-10px">
					<div class="col-xs-1" align="center">
					</div>
					<div class="col-xs-4" id="var_por1" align="center">
					</div>
					<div class="col-xs-2" id="var_por2" align="center">
					</div>
					<div class="col-xs-4" id="var_por3" align="center">
					</div>
				</div>
				<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

				<div class="col-xs-12">
					<%= image_tag "var_node.png", { :class => "img-responsive center-block", style: "width:355px; margin-bottom:0px" }%>
				</div>
				<% @portion.each_with_index do |portion|%>
					<div class="col-xs-3" align="center">
						<%= image_tag "line_smart.png", { :class => "img-responsive left-block", style: "text-align:center; vertical-align:middle; width:55px" } %>
						<div class="input-group input-group-sm" style="max-width:60px; padding-bottom:0px">
							<input type="text" class="portion form-control" placeholder="<%=portion%>" value="<%=portion%>" style="padding-left:5px; padding-right:5px; text-align:center">
							<span class="input-group-addon" style="padding-left:5px; padding-right:5px; font-size:9px"> % </span>
						</div>
						<%= image_tag "factory_smart.png", { :class => "img-responsive left-block", style: "text-align:center; vertical-align:middle; width:55px" } %>
					</div>
				<% end %>
				<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
				
				<script>
					var treeDatas;
					draw(treeData,-1); 


					$("#var_por1").html("<p>0%</p>");
					$("#var_por2").html("<p>0%</p>");
					$("#var_por3").html("<p>0%</p>");
						
          $("#var_num1").html("<p><span class='highlight'> 0 </span><br>Var-1</p>");
          $("#var_num3").html("<p><span class='highlight'> 0 </span><br>Var-3</p>");
          $("#var_num5").html("<p><span class='highlight'> 0 </span><br>Var-5</p>");
          $("#var_num7").html("<p><span class='highlight'> 0 </span><br>Var-7</p>");
					
					document.getElementById("smart_simulation").addEventListener("click", 
					function(){

						var data = ({
							  portion: $('.portion').map(function() {
									  return $(this).val();
										}).get()
						});

						$.get("/smart_grid_result", data, function(data) { treeDatas = data.variable_num; 

						treeData[0]["children"][0]["name"] = "x " + String(treeDatas[3]);
						treeData[0]["children"][0]["children"][0]["name"] = "x " + String(treeDatas[2]);
						treeData[0]["children"][0]["children"][0]["children"][0]["name"] = "x " + String(treeDatas[1]);
						treeData[0]["children"][0]["children"][0]["children"][0]["children"][0]["name"] = "x " + String(treeDatas[0]);
						d3.select("#chartline1").select("svg").remove();
						draw(treeData,-1);
						
            $("#var_num1").html("<p><span class='highlight'> "+String(treeDatas[0])+" </span><br>Var-1</p>");
            $("#var_num3").html("<p><span class='highlight'> "+String(treeDatas[1])+" </span><br>Var-3</p>");
            $("#var_num5").html("<p><span class='highlight'> "+String(treeDatas[2])+" </span><br>Var-5</p>");
            $("#var_num7").html("<p><span class='highlight'> "+String(treeDatas[3])+" </span><br>Var-7</p>");
						
						$("#var_por1").html("<p>" + String(data.real_portion[0]) + "%</p>");
						$("#var_por2").html("<p>" + String(data.real_portion[1]) + "%</p>");
						$("#var_por3").html("<p>" + String(data.real_portion[2]) + "%</p>");

						});  

					} , true);
                </script>
				
				<hr>
				<div class="col-xs-12">
					<h3> Volume input data </h3>
					<div id="volume_input_data" style="min-width: 400px; height: 220px; margin: 0 auto">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-body">
      <div class="col-xs-8">
        <h2> Total summary </h2>
      </div>
      </hr>
			<div class="col-xs-6">
				<h3> Power consumption </h3>
				<ul>
					<li><p>
						<span class="highlight" id="power_consumption"> 0 </span> kWh 
					</p></li>
				</ul>
				
				<h3> Energy bill (year) </h3>
				<ul>
					<li><p>
						<span class="highlight" id="energy_bill">0 </span> KRW million
					</p></li>
				</ul>
			</div>
			<div class="col-xs-6">
				<h3> Specific performance </h3>
				<ul>
					<li><p>
						<span class="highlight" id="specific_energy">0  </span> kW/m3/min 
					</p></li>
				</ul>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			<hr>

			<div class="col-xs-8">
				<div id="result_type">
					<h3> Volume generation </h3>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

			<div class="col-xs-12">
				<div id="result_chart">
					<div id="volume_chart" class="img-responsive center-block image" style="min-width: 430px; height: 300px; margin: 0 auto"></div>
				</div>
			</div>
		</div>
	</div>
</div>
