<style>
	.title_template{
		background-image: url(<%= asset_path('smart-factory.jpg') %>);
		padding: 0px;
		margin: 0px;
		min-height: 550px;
	}
</style>

<div class="col-xs-12 title_template">
	<div class="col-xs-12" style="height: 100px">
	</div>
	<div class="col-xs-12" style="background-color: rgb(255, 255, 255); background-color: rgba(250, 250, 250, 0.9); padding-top: 20px; padding-bottom: 40px;">
		<div class="col-xs-12" align="center" style="padding-bottom: 50px">
			<h1 style=> Smart Compressor Grid Simulator </h1>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

		<div class="col-xs-2" align="center"></div>
		<div class="col-xs-4" align="center">
			<%= image_tag "alles_logo.png", { :class => "img-responsive right-block", :style => "width: 145px"}%>
		</div>
		<div class="col-xs-4" align="center">
			<%= image_tag "cps_logo.png", { :class => "img-responsive left-block", :style => "width: 145px"}%>
		</div>
		<div class="col-xs-2" align="center"></div>
	</div>
</div>

