<!doctype html>
<html ng-app="test2App">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="test2.js"></script>
    <link rel="stylesheet" href="test2.css">
  </head>
  <body>

  <div ng-app="App" ng-controller="CarCtrl">
  <h1>Gauge <small>Angular Directive / CSS based</small></h1>
  
  <p>
    <gauge percentage="{{fuelLeft}}"></gauge>
    <label>Fuel left <input type="range" ng-model="fuelLeft"> {{fuelLeft}}%</label>
  </p>
  
  <p>
    <gauge percentage="{{radioVolume}}"></gauge>
    
    <label>Radio volume <input type="range" ng-model="radioVolume"> {{radioVolume}}%</label>
  </p>
</div>


  </body>
</html>