<head>
 <link rel="stylesheet" type="text/css" href="test2.css">
 <script type="text/javascript" src="test2.js"></script>
</head>

<body>

<div ng-app="App" ng-controller="CarCtrl">
  <h1>Gauge <small>Angular Directive / CSS based</small></h1>

  <p>
    <gauge percentage="30"></gauge>
    <label>Fuel left <input type="range" ng-model="fuelLeft"> 30%</label>
  </p>

  <p>
    <gauge percentage="50"></gauge>

    <label>Radio volume <input type="range" ng-model="radioVolume"> 40%</label>
  </p>
</div>

</body>

