body {
  padding: 2em;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

p {
  margin: 0 0 3em;
}

h1 {
  margin: 0 0 2em;
}

h1 small {
  display: block;
  opacity: 0.62;
  font-size: 50%;
  font-weight: 300;
  margin-top: 0.25em;
}

input[type="range"] {
  margin: 1em 0 0;
}

.gauge {
  position: relative;
  width: 20em;
  height: 10em;
  margin: 4em auto 0.5em;
}

.gauge-inner {
  width: 20em;
  height: 10em;
  background: #f2f2f2;
  border-radius: 20em 20em 0 0;
  overflow: hidden;
  position: relative;
}
.gauge-inner:after {
  content: '';
  display: block;
  width: 10em;
  height: 5em;
  background: white;
  border-radius: 20em 20em 0 0;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: calc(50% - (20em / 4));
}

.gauge-pointer {
  width: 0.6em;
  height: 10em;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: calc(50% - 0.3em);
}
.gauge-pointer:after {
  content: '';
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-bottom: 8.5em solid #404040;
  margin-top: -3em;
  display: block;
}

.gauge-area {
  width: 20em;
  height: 10em;
  background: #00B16A;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  position: absolute;
  z-index: 2;
}
