<%= form_for(@new_com) do |f| %>
  <% if @new_com.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_com.errors.count, "error") %> prohibited this new_com from being saved:</h2>

      <ul>
      <% @new_com.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :portion %><br>
    <%= f.number_field :portion %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :max_flow %><br>
    <%= f.text_field :max_flow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
