<p id="notice"><%= notice %></p>

<h1>Listing New Coms</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Portion</th>
      <th>Power</th>
      <th>Max flow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_coms.each do |new_com| %>
      <tr>
        <td><%= new_com.level %></td>
        <td><%= new_com.portion %></td>
        <td><%= new_com.power %></td>
        <td><%= new_com.max_flow %></td>
        <td><%= link_to 'Show', new_com %></td>
        <td><%= link_to 'Edit', edit_new_com_path(new_com) %></td>
        <td><%= link_to 'Destroy', new_com, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New com', new_new_com_path %>
