<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @new_com.level %>
</p>

<p>
  <strong>Portion:</strong>
  <%= @new_com.portion %>
</p>

<p>
  <strong>Power:</strong>
  <%= @new_com.power %>
</p>

<p>
  <strong>Max flow:</strong>
  <%= @new_com.max_flow %>
</p>

<%= link_to 'Edit', edit_new_com_path(@new_com) %> |
<%= link_to 'Back', inputs_path %>
