<p id="notice"><%= notice %></p>
<h2> Common </h2>

<%= form_for @input , :id => "input_tag"  do |f| %>
<div class="col-xs-6">
	<div class="col-xs-4">
		<h3> Energy cost: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.number_field :energy_cost, :step => 'any' , :class => "form-control"%>
			<span class="input-group-addon"> KRW/kWh </span>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="col-xs-4">
		<h3> Losses: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
          <%= f.number_field :losses, :step => 'any' ,:class => "form-control"%>
			<span class="input-group-addon"> % </span>
		</div>
	</div>
</div>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<hr>
<h2> Original </h2>

<div class="col-xs-6">
	<h3> Fixed characteristics</h3>	
	<div class="col-xs-4">
		<h3> # of machines: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :fixed_num, :step => 'any',:class => "form-control" %>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :fixed_flow, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Running power: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :fixed_run, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> kW </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Idle power: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :fixed_idle, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> kW </span>
		</div>
	</div>
</div>

<div class="col-xs-6">
	<h3> Variable characteristics</h3>	
	<div class="col-xs-4">
		<h3> # of machines: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :variable_num, :step => 'any',:class => "form-control" %>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Maximum flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :var_max, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Minimum flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :var_min, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Specific performance: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <%= f.text_field :var_power, :step => 'any',:class => "form-control" %>
			<span class="input-group-addon"> kW/m3/min </span>
		</div>
	</div>
</div>

<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
<hr>
<h2> Proposed </h2>
<div class="col-xs-2"></div>
<div class="col-xs-2"><h3>Type-1</h3></div>
<div class="col-xs-2"><h3>Type-2</h3></div>
<div class="col-xs-2"><h3>Type-3</h3></div>
<div class="col-xs-2"><h3>Type-4</h3></div>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Compressor level: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input name="com[<%=c.level%>][level]"type="text" class="form-control" value="<%= c.level %>">
      <span class="input-group-addon"> bar abs </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Volume portion: </h3>
</div>
<% @NewComs.each_with_index do |c,i|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input name="com[<%=c.level%>][portion]" type="text" class="form-control" value="<%=@portion[i]%>">
      <span class="input-group-addon"> % </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Maximum flow: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input name="com[<%=c.level%>][max_flow]" type="text" class="form-control" value="<%=c.max_flow%>">
      <span class="input-group-addon"> m3/min </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Specific performance: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2" >
    <div class="input-group input-group-sm">
      <input name="com[<%=c.level%>][power]" type="text" class="form-control" value="<%=c.power%>">
      <span class="input-group-addon"> kW/m3/min </span>
    </div>
  </div>
<% end %>
<br></br>
<hr></hr>
<%= f.submit :class => "btn btn-default"%>


<% end %>

