<h2> Common </h2>
<div class="col-xs-6">
	<div class="col-xs-4">
		<h3> Energy cost: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="" value="<%=@input.energy_cost%>">
			<span class="input-group-addon"> KRW/kWh </span>
		</div>
	</div>
</div>

<div class="col-xs-6">
	<div class="col-xs-4">
		<h3> Losses: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="" value="<%=@input.losses%>">
			<span class="input-group-addon"> % </span>
		</div>
	</div>
</div>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<hr>
<h2> Original </h2>
<div class="col-xs-6">
	<h3> Fixed machines</h3>	
	<div class="col-xs-4">
		<h3> # of machines: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="<%=@input.fixed_num%>">
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.fixed_flow%>">
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Running power: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.fixed_run%>">
			<span class="input-group-addon"> kW </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Idle power: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.fixed_idle%>">
			<span class="input-group-addon"> kW </span>
		</div>
	</div>
</div>


<div class="col-xs-6">
	<h3> Variable machines</h3>	
	<div class="col-xs-4">
		<h3> # of machines: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.variable_num%>">
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Minimum flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.var_max%>">
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Maximum flow: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.var_min%>">
			<span class="input-group-addon"> m3/min </span>
		</div>
	</div>

	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-xs-4">
		<h3> Specific power: </h3>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control" placeholder="<%=@input.var_power%>">
			<span class="input-group-addon"> kW/m3/min </span>
		</div>
	</div>
</div>

<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
<hr>
<h2> Proposed </h2>
<div class="col-xs-2"></div>
<div class="col-xs-2"><h3>Type-1</h3></div>
<div class="col-xs-2"><h3>Type-2</h3></div>
<div class="col-xs-2"><h3>Type-3</h3></div>
<div class="col-xs-2"><h3>Type-4</h3></div>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Compressor level: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="<%= c.level %>">
      <span class="input-group-addon"> bar abs </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Volume portion: </h3>
</div>
<% @portion.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="<%=c%>">
      <span class="input-group-addon"> % </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Maximum flow: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="<%=c.max_flow%>">
      <span class="input-group-addon"> m3/min </span>
    </div>
  </div>
<% end %>
<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

<div class="col-xs-2">
	<h3> Specific power: </h3>
</div>
<% @NewComs.each do |c|%>
  <div class="col-xs-2">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="<%=c.power%>">
      <span class="input-group-addon"> kW/m3/min </span>
    </div>
  </div>
<% end %>
