<p id="notice"><%= notice %></p>

<p>
  <strong>Energy cost:</strong>
  <%= @input.energy_cost %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @input.losses %>
</p>

<p>
  <strong>Fixed num:</strong>
  <%= @input.fixed_num %>
</p>

<p>
  <strong>Variable num:</strong>
  <%= @input.variable_num %>
</p>

<p>
  <strong>Fixed flow:</strong>
  <%= @input.fixed_flow %>
</p>

<p>
  <strong>Fixed run:</strong>
  <%= @input.fixed_run %>
</p>

<p>
  <strong>Fixed idle:</strong>
  <%= @input.fixed_idle %>
</p>

<p>
  <strong>Var min:</strong>
  <%= @input.var_min %>
</p>

<p>
  <strong>Var max:</strong>
  <%= @input.var_max %>
</p>

<p>
  <strong>Var power:</strong>
  <%= @input.var_power %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
