@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
font-family: "Myriad Pro Regular", sans-serif;
margin-top: 0px;
background: #fff;
}

.container-fluid {
padding-top: 20px;
padding-bottom: 0px;
max-width:1200px;
}

.main_template {
padding-bottom: 20px;
text-align: left;
}

.main_template h1 {
font-size:40pt;
font-weight: bold;
color: #333;
padding-bottom: 10px;
margin-top: 15px;
}

.main_template h2 {
font-size:13pt;
font-weight: bold;
color: #222;
padding-bottom: 10px;
margin-top: 5px;
}

.main_template h3 {
font-size:12pt;
margin-top: 3px;
line-height: 150%;
margin-bottom: 5px;
}

.main_template h3 span.small{
font-size:11pt;
color: #8f8f8f;
}

.main_template h4 {
font-size:11pt;
margin-top: 3px;
line-height: 150%;
margin-bottom: 5px;
}

.main_template p {
font-size:10.5pt;
color: #444;
line-height: 150%;
}

.main_template p span.highlight {
font-size:14pt;
color: #ff5050;
line-height: 150%;
font-weight: bold;
}

.main_template hr {
border-color: #eee;
}

.main_template .input-group {
padding-bottom: 10px;
}

.circular {
width: 20px;
height: 20px;
border-radius: 50%;
background: #000;
overflow: hidden;
}
