<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_gon %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- the above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SmartFactory</title>

    <!-- bootstrap core css -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'font', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap-theme', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap-theme.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'simulator', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'comparison', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <div id="original_loaded" style="display:none"></div>
    <div id="smart_loaded" style="display:none"></div>


    <!-- load the d3.js library --> 
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- load highstock library -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
      



    <!-- html5 shim and respond.js for ie8 support of html5 elements and media queries -->
    <!--[if lt ie 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
		<nav class="navbar" style="background:#ffffff; margin-bottom:0px;">
			<div class="container-fluid">
				<ul class="nav nav-tabs nav-jstified">
          <li class=<%=if (params[:action] == "title") then "active" else ""end%>><%= link_to "Title", { :controller => :simulator, :action => :title }%></li>
          <li class=<%=if (params[:action] == "index" and params[:controller] == "simulator") then "active" else ""end%>><%= link_to "Original", { :controller => :simulator, :action => :index }%></li>
          <li class=<%=if (params[:action] == "smart_grid_gen") then "active" else ""end%>><%= link_to "SmartGrid", { :controller => :simulator, :action => :smart_grid_gen }%></li>
          <li class=<%=if (params[:action] == "comparison_gen") then "active" else ""end%>><%= link_to "Comparison", { :controller => :simulator, :action => :comparison_gen }%></li>
          <li class=<%=if (params[:controller] == "inputs") then "active" else ""end%>><%= link_to "Setting", { :controller => :inputs, :action => :index }%></li>
				</ul>
			</div>
		</nav>

		<div class="main_template" style="background: #fdfdfd">
			<div class="container-fluid">
        <%= yield %>
			</div>
		</div>

  </body>
</html>
