<p id="notice"><%= notice %></p>

<p>
  <strong>Kwh:</strong>
  <%= @machine.kWh %>
</p>

<p>
  <strong>Price:</strong>
  <%= @machine.price %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
